body {
  margin: 0;
  font-family: sans-serif;
}

@media (prefers-color-scheme: light) {
  html {
    --main-bg-color: #000000;
    --card-shadow-color: #333333;
    --primary-text-color: #ffffff;
    --secondry-text-color: #cfcfcf;
    --sidebar-background-color: #f5f6f9;
    --title-text-color: rgb(4, 4, 4);
    --description-text-color: #5e646e;
    --button-text-color: rgb(17, 17, 17);
  }
}

@media (prefers-color-scheme: dark) {
  html {
    --main-bg-color: #000000;
    --card-shadow-color: #333333;
    --primary-text-color: #ffffff;
    --secondry-text-color: #cfcfcf;
    --sidebar-background-color: #f5f6f9;
    --resize-handle-hover-color: #dedfe1;
  }
}

html[data-theme="light"] {
  --main-bg-color: #a9a9a9;
  --card-shadow-color: #878787;
  --primary-text-color: #111111;
  --secondry-text-color: #333333;
}

html[data-theme="dark"] {
  --main-bg-color: #000000;
  --card-shadow-color: #333333;
  --primary-text-color: #ffffff;
  --secondry-text-color: #cfcfcf;
}
