.FileExplorerPanel {
	--sidebar-top-preserve-height: 124px;
	--sidebar-bottom-preserve-height: 120px;

	width: 100%;
	height: 100vh;
	background-color: var(--sidebar-background-color);
	min-width: 250px;
	padding-left: 20px;
	padding-right: 20px;
	position: relative;
	.NonBottomGroups {
		overflow-y: scroll;
		height: calc(100vh - var(--sidebar-top-preserve-height));
		padding-bottom: var(--sidebar-bottom-preserve-height);
		&::-webkit-scrollbar {
			display: none;
		}
	}
}
.PanelResizeHandle {
	width: 3px;
	background-color: var(--sidebar-background-color);
	.divider {
		width: 3px;
		height: 100%;
		transition-delay: 1s;
		transition: border 100ms ease-in-out;
	}
	&:hover .Divider {
		border-right: 2px solid var(--background-primary);
	}
}
