.FileExplorerPanel {
	width: 100%;
	height: 100vh;
	background-color: var(--sidebar-background-color);
	min-width: 250px;
}
.PanelResizeHandle {
	width: 4px;
	background-color: var(--sidebar-background-color);
	.Divider {
		width: 3px;
		height: 100%;
	}
	&:hover .Divider {
		border-right: 2px solid var(--background-primary);
	}
}
