.FindAnything {
	background: #e7eaf1;
	border-radius: 5px;
	margin-top: 15px;
	height: 32px;
	display: flex;
	align-items: center;
	color: rgba(106, 112, 124, 0.4);
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 20px;
	svg {
		width: 19px;
		height: 19px;
		flex-shrink: 0;
		margin-right: 5px;
	}
	input {
		background: transparent;
		border: none;
		outline: none;
		&::placeholder {
			color: rgba(106, 112, 124, 0.4);
			font-size: 15px;
		}
	}
}
