.FindAnything {
  background: #e7eaf1;
  border-radius: 5px;
  margin-top: 15px;
  height: 32px;
  display: flex;
  align-items: center;
  color: rgba(106, 112, 124, 0.4);
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
  svg {
    width: 19px;
    height: 19px;
    flex-shrink: 0;
    margin-right: 5px;
  }
  input {
    background: transparent;
    border: none;
    outline: none;
    &::placeholder {
      color: rgba(106, 112, 124, 0.4);
      font-size: 15px;
    }
  }
}
.Modal {
  position: fixed;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  width: 100%;
  z-index: 6;
  left: 0;
  top: 0;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  svg {
    width: 19px;
    height: 19px;
    flex-shrink: 0;
    margin-right: 5px;
  }
  input {
    border: none;
    width: 100%;
    outline: none;
    &::placeholder {
      color: rgba(106, 112, 124, 0.4);
      font-size: 20px;
    }
  }
}

.Modal_Content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: white;
  width: 600px;
  margin-top: 50px;
  border-radius: 5px 5px 0 0;
  padding: 10px;
}

.SearchResults {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 6.15em;
  z-index: 7;
  width: 600px;
  background-color: white;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
  border-radius:0 0 5px 5px;
  overflow-y: auto;
}

.SearchResult {
  display: flex;
  flex-direction: column;
  padding: .5em;
  margin-right: -2.8rem;
  margin-left: -2.8rem;
  margin: 0;
  list-style-type: none;
  cursor: pointer;
  &:hover {
    background-color: rgb(239, 241, 245)
  }
}

.SearchResult_Title {
  font-weight: bold;
}
