.FileListGroup {
	display: flex;
	margin-bottom: 20px;
	flex-direction: column;
	color: #3f434a;
	font-size: 15px;

	.header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 10px;
		.title {
			font-weight: bold;
		}
		svg {
			cursor: pointer;
			border-radius: 3px;
			width: 24px;
			height: 24px;
			&:hover {
				background: rgba(0, 0, 0, 0.06);
			}
		}
	}
	.items {
		.item {
			cursor: pointer;
			width: 100%;
			padding: 5px 10px;
			overflow: hidden;
			user-select: none;
			border-radius: 5px;
			display: flex;
			align-items: center;
			&.active {
				background: #e7eaf1;
			}
			&:hover {
				background-color: #f1f2f4;
			}
			.dot {
				width: 5px;
				height: 5px;
				border-radius: 50%;
				background-color: #acb1b9;
				margin-right: 10px;
				flex-shrink: 0;
			}
			.name {
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 1;
			}
		}
	}
}
