.website-layout {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	.logo {
		height: 40px;
	}
	.nav {
		width: 100vw;
		max-width: 1300px;
		height: 80px;
		display: flex;
		align-items: center;
		padding: 20px;
		box-sizing: border-box;
	}
}
