.signup-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 50px;
	.title {
		color: var(--title-text-color);
		font-size: 48px;
		font-weight: bold;
		margin-bottom: 10px;
	}
	.signup-form {
		padding-top: 30px;
		width: 320px;
		.seperator {
			color: rgba(4, 4, 4, 0.3);
			margin: 1rem 5px;
		}
		.label {
			color: rgba(55, 53, 47, 0.65);
			font-size: 12px;
		}
		.login-button {
			margin-top: 25px;
		}
		.links {
			width: 100%;
			padding: 10px 40px;
			display: flex;
			justify-content: space-around;
		}
	}
}
